Q1.  Explain with an example each when to use a for loop and a while loop.

In [1]:
# For Loop
# A for loop is a control flow statement that executes code for a predefined number of iterations.
# The keyword used in this control flow statement is “for”. 
# When the number of iterations is already known, the for loop is used.

In [1]:
#Example of for loop
l=[1,2,3,4,5,6]
for i in l :
    print(i*i)

1
4
9
16
25
36

In [3]:
# While Loop
# A loop that runs a single statement or a set of statements for a given true condition.
# This loop is represented by the keyword "while." 
# When the number of iterations is unknown, a "while" loop is used. 
# The statement is repeated until the boolean value is false.
# Because the condition is tested at the beginning of a while loop, it is also known as the pre-test loop.

In [2]:
#Example of while loop
no=int(input('enter no'))
i=1
while i<=10:
    result=no*i
    print(no,"*",i,"=",result)
    i=i+1

enter no 29

29 * 1 = 29
29 * 2 = 58
29 * 3 = 87
29 * 4 = 116
29 * 5 = 145
29 * 6 = 174
29 * 7 = 203
29 * 8 = 232
29 * 9 = 261
29 * 10 = 290

Q2.  Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [3]:
#program to add first 10 natural numbers using for loop
l = list(range(1,11))
total = 0
product = 1
for n in l :
    total= total+n
for n in l :
    product= product*n
print("Sum of first 10 natural numbers=",total)
print("Product of first 10 natural numbers=",product)

Sum of first 10 natural numbers= 55
Product of first 10 natural numbers= 3628800

In [4]:
#program to add first 10 natural numbers using while loop
n = 1
total = 0
product = 1
while n<=10 :
    total = total+n
    product = product *n
    n= n+1
print("Sum of first 10 natural numbers=",total)
print("Product of first 10 natural numbers=",product)

Sum of first 10 natural numbers= 55
Product of first 10 natural numbers= 3628800

Q3. Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.


You are required to take the units of electricity consumed in a month from the user as input.


Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [5]:
units = int(input("Enter the Number of Units Consumed"))
bill = 1
if units<=100 :
    bill = 4.5*units
    print("Billed Amount is",bill)
elif units>100 and units<=200 :
    bill = (4.5*100)+(6*(units-100))
    print("Billed Amount is",bill)
elif units>200 and units<=300 :
    bill = (4.5*100)+(6*100)+(10*(units-200))
    print("Billed Amount is",bill)
elif units>300 :
    bill = (4.5*100)+(6*100)+(10*100)+(20*(units-300))
    print("Billed Amount is",bill)

Enter the Number of Units Consumed 310

Billed Amount is 2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [6]:
#Q4_ using for loop
l = list(range(1,101))
number_list =[]
cube_list =[]
cube = 1
for i in l :
    cube = i**3
    if cube%5==0 or cube%4==0 :
        number_list.append(i)
        #cube_list.append(cube)
print(number_list)#to print number whose cube is divisible by 4,5
#print(cube_list)#to print list of cubes that are disible by 4,5

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [7]:
#Q4_ using while loop
number_list =[]
cube_list =[]
cube = 1
i = 1
while i<=100 :
    cube = i**3
    if cube%5==0 or cube%4==0 :
        number_list.append(i)
        #cube_list.append(cube)
    i=i+1
print(number_list)#to print number whose cube is divisible by 4,5
#print(cube_list)#to print list of cubes that are disible by 4,5

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q5.  Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist"

In [8]:
string = "I want to become a data scientist"
string_2 = []
for s in string :
    if s=="a" or s=="e" or s=="i" or s=="o" or s=="u" or s=="A" or s=="E" or s=="I" or s=="O" or s=="U":
        string_2.append(s)
print(string_2)
print("No of Vowels :-",len(string_2))

['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']
No of Vowels :- 12