Q1. write a program to accept percentage from user display the grades
above 90=A

80 to 90=B

60 to 80=C

below 60=D

In [7]:
marks=float(input("Enter Percentage"))
if marks<= 0 or marks >100:
    print("INVALID INPUT")
elif marks>90 and marks <=100:
    print("Congratulations You got A GRADE")
elif marks > 80 and marks <= 90:
    print("Congratulations You got B GRADE")
elif marks >= 60 and marks <= 80:
    print("Congratulations You got C GRADE")
else :
    print("Congratulations You got D GRADE")

Enter Percentage 105

INVALID INPUT

Q2. write a program to accept tthe cost price of a bike and display the road tax to be paid according to the following criteria

cost<100000;tax=15%

cost between 50000 and 100000;tax=10%

cost<50000;tax=5%

In [32]:
cost = float(input("Cost of Bike"))
if cost <=0:
    print("Invalid Entry")
elif cost >100000 :
    print("Tax is 15%")
    tax= 15*cost/100
    print("Tax To be paid",tax)
elif cost >50000 and cost <=100000 :
    print("Tax is 10%")
    tax= 10*cost/100
    print("Tax To be paid",tax)
elif cost <=50000 :
    print("Tax is 5%")
    tax= 5*cost/100
    print("Tax To be paid",tax)

Cost of Bike -45

Invalid Entry

Q3. accept any city from user and display monuments of the city

delhi Red fort

agra Taj mahal

jaipur jal mahal

In [16]:
delhi =["Red Fort","Qutub Minar"]
agra = ["Taj Mahal"]
jaipur = ["Jal Mahal"]
city = input("Enter City Name")
if city == 'delhi'or city == 'DELHI' or city ==  'Delhi' :
    print ("Monuments in Delhi :-",delhi)
elif city == "Agra" or city == "AGRA" or city == "agra":
    print("Monuments in Agra :-",agra)
elif city == "Jaipur" or city == "JAIPUR" or city == "jaipur":
    print("Monuments in Jaipur :-",jaipur)
else :
    print("Sorry!",city, "Not In Our Database")

Enter City Name delhi

Monuments in Delhi :- ['Red Fort', 'Qutub Minar']

Q4. check how many time a number can be devided by 3 before it is less than or equals to 10

In [67]:
n= float(input("enter no"))
count = 0
while n > 10:
    n = n / 3
    count = count+1
count

enter no 98

3

Q5. Why and when to use while loop in python.give a detailed discription with example ?

In [2]:
# When the number of iterations is unknown, a "while" loop is used. The statement is repeated until the boolean value is false.
# Because the condition is tested at the beginning of a while loop, it is also known as the pre-test loop.

#example

a=5
while a <=50 :
    print(a)
    a=a+5

5
10
15
20
25
30
35
40
45
50

Q6. use nested while loop to print 3 different patterns

In [65]:
#Ans. 
#1.
i = 1
while i <= 4 :
    j = 1
    while  j <= 3 :
        print(j*i, end=" ")
        j += 1
    print()
    i += 1

1 2 3
2 4 6
3 6 9
4 8 12

In [51]:
#2.
i = 1
while i<7 :
    j = 1
    while j<=i :
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [68]:
#3.
i = 1
while i <= 4 :
    j = 0
    while  j <= i :
        k = 0
        while  k <= j :
            print(i*j*k, end=" ")
            k += 1
        print()
        j += 1
    print()
    i += 1

0
0 1

0
0 2
0 4 8

0
0 3
0 6 12
0 9 18 27

0
0 4
0 8 16
0 12 24 36
0 16 32 48 64

Q7. Reverse a while loop to display  numbers from 10 to 1

In [16]:
#Ans7

list1 = [1,2,3,4,5,6,7,8,9,10]
list2=[]

counter = len(list1)-1

while counter >= 0:
    list2.append(list1[counter])
    counter = counter-1
second_list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Q8. Reverse a while loop to display numbers from 10 to 1

In [15]:
#Ans8
num = 10
while num>0 :
    print(num)
    num = num-1

10
9
8
7
6
5
4
3
2
1